/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*DIY */
.heroSecretGarden {
  background-color: #45f76b; /* 柔和的棕色 */
  /*background-image: url('/img/secret-garden-bg.jpg');  使用一张秘密花园的背景图片 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainContent {
  background-color: #12af1f; /* 浅灰色背景 */
  padding: 0;
}

